@CHARSET "UTF-8";

body{width: 100%;min-width: 1200px;margin: auto; background-color: #dddddd; color: #333; font: 15px/1.618 comic sans ms;}

.width50{width: 50px;}
.width60{width: 60px;}
.width70{width: 70px;}
.width80{width: 80px;}
.width100{width: 100px;}
.width120{width: 120px;}
.width140{width: 140px;}
.width150{width: 150px;}
.width160{width: 160px;}
.width170{width: 170px;}
.width180{width: 180px;}
.width190{width: 190px;}
.width200{width: 200px;}

.bold{font-weight: bold;}

.black{color: black;}
.white{color: white;}
.blue{color: blue;}
.red{color: red;}

.align-center{text-align: center;}
.align-left{text-align: left;}
.align-right{text-align: right;}
.search-btn{background-color: #38f; border: 1px solid #38f;color: white; width: 80px; padding: 3px 15px; cursor: pointer;color: white;}


.container{margin: auto;}

.top-container{background: rgba(0, 0, 0, 0) url("/static/image/admin/top-bg.jpg") no-repeat scroll 0 0 / cover;margin: auto 3px auto auto;height: 100px;color: white;opacity: 0.8;}
.top-container .top-container-left{margin: auto;float: left;}
.top-container .top-container-right{margin: auto;float: right;width: 300px;}
.top-container .top-container-right div{float: right; clear: both;margin: 3px 10px 0px 0px;}
.top-container .top-container-right a{color: red;}

.body-container{margin: 2px auto;}

.navi-container{width: 18%; height: 85%; background: white;float: left; overflow-y: scroll;margin-left: 2px; padding: 10px 0 50px; min-height: 600px;border-radius: 2px;}
.navi-container .ul_cate{list-style: none;margin: 2px;padding-left: 5px;}
.navi-container .ul_cate .li_cate{}
.navi-container .ul_cate .li_cate a{font-size: 15px;}
.navi-container .ul_cate .li_cate .ul_file{list-style: none;padding: 0px;margin: 0 0 0 20px;}
.navi-container .ul_cate .li_cate .ul_file .li_file{}
.navi-container .ul_cate .li_cate .ul_file .li_file a{font-size: 12px;}
.navi-container a{text-decoration: none; cursor: pointer;font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;}
.navi-container a:hover{text-decoration: none;background-color: #96c2e9;color: white;padding: 5px;}

.content-container{width: 81.4%; min-height: 85%; background: white;margin: 0px 3px 0px 1px; padding: 0 0 50px; min-height: 600px;float: right;border-radius: 4px;}
.content-container .title{width: 95%; padding: 10px; margin: 20px; border-bottom: 1px solid #ccc; font-size: 18px; color: #5fa6e5;}
.content-container .body{width: 90%;padding: 0px 30px 30px; margin: auto;}

.content-container .body form{}
.content-container .body form .search{}
.content-container .body form .export{}
.content-container .body .query-table{width: 100%; border-collapse: collapse; font-size: 14px; table-layout: fixed;}
.content-container .body .query-table tr td{border: 1px solid #fff;padding: 8px 0;text-align: left;height: 35px;line-height: 35px;white-space: nowrap;}
.content-container .body .query-table tr td label{font-weight: bold;}
.content-container .body .query-table tr td input{height: 30px; width: auto; margin-left: 5px; border: 1px solid #ccc; color: #222;padding: 0 0 0 3px;}
.content-container .body .query-table tr td input:focus{border-color: #4d90fe; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(77, 144, 254, 0.6);outline: 0 none;}
.content-container .body .query-table tr td input[type=button]{width: 100px; border: 0px; border-radius: 3px; cursor: pointer;color: white;}
.content-container .body .query-table tr td input[class=search]{background-color: #38f;color: white;}
.content-container .body .query-table tr td select{height: 30px; width: 80px; background: #fff; border: 1px solid #ccc;}
.content-container .body .query-table tr td select:focus{border-color: #4d90fe; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(77, 144, 254, 0.6);outline: 0 none;}

.content-container .body .record-table{width: 100%; border-collapse: collapse; margin-top: 20px;}
.content-container .body .record-table td{border-top: 1px dotted #ccc; padding: 35px 0 5px 5px;}
.content-container .body .record-table td .record{color: red;}

.content-container .body .result-table{width: 100%; border-collapse: collapse; font-size: 14px; margin: 0 auto 20px;table-layout: fixed;}
.content-container .body .result-table thead{background-color: #bbb;}
.content-container .body .result-table tbody{}
.content-container .body .result-table tr{}
.content-container .body .result-table tr td{border: 1px solid #ccc;padding: 8px 0;text-align: center;}
.content-container .body .result-table tr th{border: 1px solid #ccc;padding: 8px 0;text-align: center; background-color: #f0f0f0;}

#particles{position: absolute;top: 0px;left: 0px;;width: 100%;height: 100%;z-index: -1;}