@CHARSET "UTF-8";

#header-navi{position: initial;background: rgb(0, 0, 0) url("/static/image/nav-bg-transparent.png") repeat-x scroll 0 0;}

.ai-container{}
.ai-container .section{}
.ai-container .section .introduce{position: absolute; text-align: center; color: #fff;width: 500px;margin: 0px 280px; padding: 100px;}
.ai-container .section .introduce .title{font-size: 28px;padding: 5px; font-weight: 500;}
.ai-container .section .introduce .description{padding: 5px;}
.ai-container .section .introduce span{border: 3px solid #fff; padding: 5px; margin: 10px; height: 50px; line-height: 50px;}
.ai-container .section .introduce span:hover{background: white; color: #666;}
.ai-container .section .introduce span a{padding: 5px 30px;}
.ai-container .section .introduce span a:hover{background: white; color: #666;}
/** 通用card **/
.ai-container .section-card{height: 400px; background: rgba(0, 0, 0, 0) url("/static/image/ai/banner_face.png") no-repeat scroll 50% 50% / cover;}
/** face **/
.ai-container .section-card-face{height: 400px; background: rgba(0, 0, 0, 0) url("/static/image/ai/banner_face.png") no-repeat scroll 50% 50% / cover;}
/** text **/
.ai-container .section-card-text{height: 400px; background: rgba(0, 0, 0, 0) url("/static/image/ai/banner_text.png") no-repeat scroll 50% 50% / cover;}
/** image **/
.ai-container .section-card-image{height: 400px; background: rgba(0, 0, 0, 0) url("/static/image/ai/banner_image.png") no-repeat scroll 50% 50% / cover;}
/** voice **/
.ai-container .section-card-voice{height: 400px; background: rgba(0, 0, 0, 0) url("/static/image/ai/banner_image.png") no-repeat scroll 50% 50% / cover;}
/** recommend **/
.ai-container .section-card-recommend{height: 400px; background: rgba(0, 0, 0, 0) url("/static/image/ai/banner_image.png") no-repeat scroll 50% 50% / cover;}
/** machine **/
.ai-container .section-card-machine{height: 400px; background: rgba(0, 0, 0, 0) url("/static/image/ai/banner_image.png") no-repeat scroll 50% 50% / cover;}

.ai-container .section-tip{font-size: 25px; font-weight: 800; margin: 50px 0 10px 20px; border-bottom: 2px silver;}
.ai-container .section-content{margin: 40px 20px;}
.ai-container .section-content .upload-box{}
.ai-container .section-content .upload-box .file-url{height: 40px; width: 500px; padding: 0px 5px;}
.ai-container .section-content .upload-box a{color: #0073eb;}
.ai-container .section-content .display-box{margin: 40px auto;}
.ai-container .section-content .display-box .img-display{float: left; width: 450px; height: 350px;}
.ai-container .section-content .display-box .code-display{margin-left: 50px solid #ccc;}
