@CHARSET "UTF-8";

/**************************************************/
body{width: 100%;min-width: 1200px;margin: auto;color: #333; font: 15px/1.618 comic sans ms;font-family: initial;}
a{text-decoration: none; color: white;}
a:hover{text-decoration: none;}
.font12{font-size: 12px;}
.font13{font-size: 13px;}
.font14{font-size: 14px;}
.font15{font-size: 15px;}
.font16{font-size: 16px;}
.font17{font-size: 17px;}
.font18{font-size: 18px;}
.bold{font-weight: bold;}
.radius2{border-radius: 2px;}
.radius3{border-radius: 3px;}
.radius5{border-radius: 5px;}
.radius10{border-radius: 10px;}
.radius20{border-radius: 20px;}
.background-white{background: white;}
.color-black{color: black;}
.color-ccc{color: #cccccc;}

.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}

.cur1{border-bottom: 2px solid white;}
.cur2{border-bottom: 3px solid white;}
.border-bottom{border-bottom: 1px solid #ddd;}

.transition{transition: all 0.5s;}

/**svg的倒立三角形**/
.svg-triangle{margin: 0 auto; width: 10px; height: 10px;}
.svg-triangle polygon {fill:#fff; stroke:#fff; stroke-width:2;}

.triangle{border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 8px dashed; display: inline-block; vertical-align: middle; width: 0; height: 0;margin-left: 3px;}


/** header **/
#header-navi{margin: auto;height: 50px;line-height: 50px; position: fixed; top: 0; clear: left; z-index: 999; width: 100%;margin: auto;font-family: initial;/**background: linear-gradient(to right, #0a93d4, #00b4aa);**/}
.header-navi-scroll{/*background: linear-gradient(to right, #0a93d4, #00b4aa);*/background: rgba(0, 0, 0, 0) url("/static/image/nav-bg-transparent.png") repeat-x scroll 0 0; box-shadow: 0 3px 10px 1px rgba(224, 224, 224, 0.70);}
#header-navi .header-logo{height: 50px;line-height: 50px; margin-right: 20px; float: left;}
#header-navi .header-logo .logo{padding: 16px 10px;float: left;}
#header-navi .header-logo .logo img{width: 90px;height: 20px;}
#header-navi .header-logo .title{float: right;}
#header-navi .header-navi-detail{margin: auto;}
#header-navi .header-navi-detail div.menu{float: left; color: white; max-width: 100px; min-width: 70px; text-align: center; padding: 0px 10px; margin: 0px 10px;font-weight: bold;cursor: pointer;}

#header-navi .header-navi-detail div.solution-menu-more{float: left; color: white; width: 75px; padding: 0px 10px; margin: 0px 15px;font-weight: bold;cursor: pointer;}
#header-navi .header-navi-detail div.menu-more .solution-drop-box{clear: left; float: left; display: none; background: white;width: 380px;margin: 0 0 0 -150px;padding: 10px 0;box-shadow: 0 5px 15px #aaa;border-radius: 2px;cursor: default;}
#header-navi .header-navi-detail div.menu-more .solution-drop-box .item{float: left; text-align: center; width: 160px;margin: 10px 15px;border-radius: 5px;}
#header-navi .header-navi-detail div.menu-more .solution-drop-box .item:hover{background: #2d78f4;}
#header-navi .header-navi-detail div.menu-more .solution-drop-box .item a{color: #666;}

#header-navi .header-navi-detail div.ai-menu-more{float: left; color: white; width: 50px; padding: 0px 10px; margin: 0px 15px;font-weight: bold;cursor: pointer;}
#header-navi .header-navi-detail div.menu-more .ai-drop-box{clear: left; float: left; display: none; background: white;width: 340px;margin: 0 0 0 -150px;padding: 10px 0;box-shadow: 0 5px 15px #aaa;border-radius: 2px;cursor: default;}
#header-navi .header-navi-detail div.menu-more .ai-drop-box .item{float: left; text-align: center; width: 130px;margin: 10px;margin: 10px 20px;border-radius: 3px;}
#header-navi .header-navi-detail div.menu-more .ai-drop-box .item:hover{background: #2d78f4;}
#header-navi .header-navi-detail div.menu-more .ai-drop-box .item a{color: #666;}


#header-navi .header-login-reg{float: right; margin-right: 40px; position: absolute; right: 0px; top: 0px;}
#header-navi .header-login-reg .reg-login-user-box{width: 230px;}
#header-navi .header-login-reg .reg-login-user-box a.reg{font-size: 13px; color: white;border: 2px solid white; padding: 2px 10px; text-decoration: none; margin-right: 15px;}
#header-navi .header-login-reg .reg-login-user-box a.reg:hover{color: #272626; background: white;}
#header-navi .header-login-reg .reg-login-user-box a.login{font-size: 13px; color: #272626; background: white; border: 2px solid white; padding: 2px 10px; text-decoration: none; margin-right: 15px;}
#header-navi .header-login-reg .reg-login-user-box a.login:hover{color: #272626; background: white;}

#header-navi .header-login-reg .drop-box{float: left; color: white; margin-right: 50px;cursor: pointer;}
#header-navi .header-login-reg .drop-box .more{position: absolute;background: white;color: #999;width: 120px;height: 185px;margin-left: -50px;padding: 15px;border: 1px solid #aaa;box-shadow: 0px 0px 10px rgba(228, 228, 228, 0.8);display: none;cursor: default;border-radius: 0 0 3px 3px;}
#header-navi .header-login-reg .drop-box .more .drop-down{width: 10px;height: 10px;display: block;margin: -21px 0 0 50px;transform: rotate(46deg);-moz-transform:rotate(46deg);-ms-transform:rotate(46deg);-webkit-transform:rotate(46deg);-o-transform:rotate(46deg);background: white;box-shadow: 0px 0px 24px rgba(228, 228, 228, 0.95);border-left: 1px solid #aaa; border-top: 1px solid #aaa;}
#header-navi .header-login-reg .drop-box .more ul{list-style: none;margin: 0px;padding: 0px; text-align: center;}
#header-navi .header-login-reg .drop-box .more ul li{}
#header-navi .header-login-reg .drop-box .more ul li a{color: #999;}
#header-navi .header-login-reg .drop-box .more ul li a:hover{color: #ccc;}


/** footer **/
#footer{background: #272626;color: #73777a;border-top: 1px solid #272626;height: 40px;margin: auto;}
#footer .container{height: 40px;line-height: 40px;font-family: initial;}
#footer a{color: #73777a;}
#footer a:hover{color: #fff;}
#footer .container .copyright{float: left;}
#footer .container .beian{float: right;margin-right: 20px;}


/** totop **/
#totop{display: none;position: fixed;bottom: 50px; right: 40px;width: 51px;height: 51px; z-index: 100; cursor: pointer; background-image: url("/static/image/totop.png");background-position:50%  0%;}
.repair{position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;height: 90%;width: 838px;}

/**************************************************/



/**************************************************/
/**************************************************/