@CHARSET "UTF-8";


body{background-color: #f7fafc; background-image: none;}
#header-navi{background: rgba(0, 0, 0, 0) url("/static/image/nav-bg-transparent.png") repeat-x scroll 0 0;}

/** 套餐服务  start **/
.package-container{}
.package-container .section{}
.package-container .section-card{height: 450px; background: rgba(0, 0, 0, 0) url("/static/image/ai/banner_face.png") no-repeat scroll 50% 50% / cover;}
.package-container .section-card-package{height: 450px; background: rgba(0, 0, 0, 0) url("/static/image/banner_package.png") no-repeat scroll 50% 50% / cover;}
.package-container .section-tip{}
.package-container .section-content{}
/** 套餐服务  end **/


/** 开发指南  start **/
.doc-container{}
.doc-container .section{}
.doc-container .section-card{height: 450px; background: #2274e5;}
.doc-container .section-card-doc{height: 450px; background: #2274e5;}
.doc-container .section-card-doc .info{margin: 200px 0 0 200px; color: #fff; font-size: 40px; float: left;}
.doc-container .section-card-doc .image{margin: 100px 100px 0 0; float: right;}
.doc-container .section-tip{}
.doc-container .section-content{}
/** 开发指南  end **/

/** API文档  start **/
.api-container{}
.api-container .section{}
.api-container .section-card{height: 450px; background: #2274e5;}
.api-container .section-card-api{height: 450px; background: #2274e5;}
.api-container .section-card-api .info{margin: 200px 0 0 200px; color: #fff; font-size: 40px; float: left;}
.api-container .section-card-api .image{margin: 100px 100px 0 0; float: right;}
.api-container .section-tip{}
.api-container .section-content{}
/** API文档  end **/


/** 关于帮助  start **/
.container-help-search{margin: auto;padding: 50px 0px 0px 0px;height: 300px;background: rgba(0, 0, 0, 0) url("/static/image/help-top-bg.png") repeat scroll 0 0;color: white;}
.container-help-search .search-box{margin: auto;width: 960px;height: 100%;text-align: center;padding-top: 130px;}
.container-help-search .search-box .search-inp{border-radius: 3px 0 0 3px;border: 3px solid #002a56;background-color: rgba(255,255,255,0.83);height: 40px;;font-weight: 300;color: #0a0a0a;padding: 5px 10px;width: 500px;border: 0px;}
.container-help-search .search-box .search-btn{padding: 10px 18px;background: rgba(0,0,0,0.2);font-size: 14px;height: 43px;line-height: 43px;width: 60px;border: 0px;cursor: pointer;color: white;}
.container-help-search .search-box .search-btn:hover{background: #2d78f4}
.container-help{width: 960px;margin: auto;padding: 50px 0 0 0;min-height: 700px;clear: left;}
.container-help .navi{float: left;width: 200px;min-height: 600px;margin-right: 6px;border: 1px solid #ccc;background: white;}
.container-help .content{float: left;width: 750px;min-height: 600px;margin: 0;box-shadow: 2px 3px 10px #999; background: white;}
.container-box{margin: auto;width: 1000px;height: 600px;}
.container-box .box{margin: 30px 0 0;}
.container-box .box .item{background: white;border: 1px solid #ccc;float: left;width: 300px;height: 250px;margin: 22px 15px;box-shadow: 0 0 2px #aaa;}
.container-box .box .item:hover{transform: scale(1.1); transition:all 0.5s; box-shadow: 0 0 15px #666;}
/** 关于帮助  end **/

